{{>header}}

<title>Class</title>
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/content.css">

<body>
    {{>navbar}}
    {{>symbols}}

    {{#if danger}}
    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>
            {{msg}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if success}}
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div>
            {{msg}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if primary}}
    <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
            <use xlink:href="#info-fill" />
        </svg>
        <div>
            {{msg}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}


    {{!-- <p>{{uid}}</p> --}}
    <div class="container-fluid d-flex flex-column-reverse flex-lg-row-reverse">
        <div style="min-width:23%;height:30rem;" class="shadow-lg overflow-auto my-3 mx-2 rounded-3">
            <div class="d-flex justify-content-between align-items-center p-2 border border-dark"
                style="background-color: black">
                <div class="fs-4 py-1 text-light">Announcements</div>
                {{#if admin}}
                <button type="button" class="btn btn-outline-info btn-sm py-1 px-2" data-bs-toggle="modal"
                    data-bs-target="#announcements"><i class="bi bi-pencil-fill"></i> Edit</button>
                {{/if}}
            </div>
            <div class="container-fluid my-1 text-break" style="text-align: justify;">
                {{#each announce}}
                <p><strong>{{this.number}}. </strong>{{this.ann}}</p>
                <br>
                {{/each}}
            </div>
        </div>

        <div class="overflow-auto shadow-lg my-3 mx-2 rounded-3" style="min-width:75%;height:30rem">
            <div class="d-flex justify-content-between align-items-center p-2 border border-dark text-light"
                style="background-color: black">
                <div class="fs-4">Notes</div>
                <div class="d-flex align-items-center justify-content-between">
                    {{#if admin}}
                    <button type="button" class="btn btn-outline-info btn-sm py-1 px-2" data-bs-toggle="modal"
                        data-bs-target="#addFile"><i class="bi bi-pencil-fill"></i> Edit</button>
                    {{/if}}
                    <a data-bs-toggle="offcanvas" href="#classCanvas" role="button" aria-controls="classCanvas"
                        class="text-reset py-2 px-2 fs-5 text-decoration-none"><i
                            class="bi bi-three-dots-vertical"></i>More</a>
                </div>
            </div>
            {{#if pdfArr}}
            <div class="container-fluid">
                <p class="text-center fs-1 my-2">PDFs</p>
                <hr class="mt-0">
                <div
                    class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 justify-content-center justify-content-sm-between justify-content-md-around g-4 p-2">
                    {{#each pdfArr}}
                    {{!-- d-flex flex-column justify-content-between --}}
                    <div class="col border my-2 p-2 border d-flex flex-column justify-content-between border-dark border-2"
                        style="max-width: 20rem;min-height: 10rem;background-color: white">
                        <div class="d-flex justify-content-between">
                            <p class="fs-5 fw-bold d-inline-block">{{this.displayName}}</p>
                            {{#if ../admin}}
                            <a class="text-reset" href="/removeFile/{{../uid}}/{{this._id}}"><i
                                    class="bi bi-trash-fill px-2"></i></a>
                            {{/if}}
                        </div>
                        {{!-- <br> --}}
                        <p>Size: {{this.size}}</p>
                        {{!-- <br> --}}
                        <div class="text-center mb-1"><a class="btn btn-primary w-50" href="{{this.path}}" role="button"
                                target="_blank">Open File</a></div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{#if imgArr}}
            <div class="container">
                <p class="text-center fs-1 my-2">Images</p>
                <hr class="mt-0">
                <div
                    class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 justify-content-center justify-content-sm-between justify-content-md-around g-4 p-2">
                    {{#each imgArr}}
                    <div class="col border my-2 p-2 border d-flex flex-column justify-content-between border-dark border-2"
                        style="max-width: 20rem;min-height: 10rem;background-color: white">
                        <div class="d-flex justify-content-between">
                            <p class="fs-5 fw-bold d-inline-block">{{this.displayName}}</p>
                            {{#if ../admin}}
                            <a class="text-reset" href="/removeFile/{{../uid}}/{{this._id}}"><i
                                    class="bi bi-trash-fill px-2"></i></a>
                            {{/if}}
                        </div>
                        <p>Size: {{this.size}}</p>
                        {{!-- <br> --}}
                        <div class="text-center mb-1"><a class="btn btn-primary w-50" href="{{this.path}}" role="button"
                                target="_blank">Open File</a></div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{#if vidArr}}
            <div class="container">
                <p class="text-center fs-1 my-2">Videos</p>
                <hr class="mt-0">
                <div
                    class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 justify-content-center justify-content-sm-between justify-content-md-around g-4 p-2">
                    {{#each vidArr}}
                    <div class="col border my-2 p-2 border d-flex flex-column justify-content-between border-dark border-2"
                        style="max-width: 20rem;min-height: 10rem;background-color: white">
                        <div class="d-flex justify-content-between">
                            <p class="fs-5 fw-bold d-inline-block">{{this.displayName}}</p>
                            {{#if ../admin}}
                            <a class="text-reset" href="/removeFile/{{../uid}}/{{this._id}}"><i
                                    class="bi bi-trash-fill px-2"></i></a>
                            {{/if}}
                        </div>
                        <p>Size: {{this.size}}</p>
                        {{!-- <br> --}}
                        <div class="text-center mb-1"><a class="btn btn-primary w-50" href="{{this.path}}" role="button"
                                target="_blank">Open File</a></div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{#if otherArr}}
            <div class="container">
                <p class="text-center fs-1 my-2">Others</p>
                <hr class="mt-0">
                <div
                    class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 justify-content-center justify-content-sm-between justify-content-md-around g-4 p-2">
                    {{#each otherArr}}
                    <div class="col border my-2 p-2 border d-flex flex-column justify-content-between border-dark border-2"
                        style="max-width: 20rem;min-height: 10rem;background-color: white">
                        <div class="d-flex justify-content-between">
                            <p class="fs-5 fw-bold d-inline-block">{{this.displayName}}</p>
                            {{#if ../admin}}
                            <a class="text-reset" href="/removeFile/{{../uid}}/{{this._id}}"><i
                                    class="bi bi-trash-fill px-2"></i></a>
                            {{/if}}
                        </div>
                        <p>Size: {{this.size}}</p>
                        {{!-- <br> --}}
                        <div class="text-center mb-1"><a class="btn btn-primary w-50" href="{{this.path}}" role="button"
                                target="_blank">Open File</a></div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{!-- <a href="\uploads\1628066277612-948114456.mp4" target="_blank">Test</a> --}}
        </div>
    </div>

    <div class="offcanvas offcanvas-start vw-75" data-bs-scroll="true" tabindex="-1" id="classCanvas"
        aria-labelledby="classCanvasLabel">
        <div class="offcanvas-header">
            <div class="offcanvas-title border-bottom border-3 border-dark fs-4" id="classCanvasLabel">
                {{classInfo.className}}
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <p><strong>Unique Id: </strong>{{classInfo.classId}}</p>
            </div>
            <div class="my-2">
                <p><strong>Description: </strong>{{classInfo.desc}}</p>
            </div>
            <ul class="list-unstyled">
                <li><strong>Admins: </strong></li>
                <li>
                    <ul>
                        {{#each classInfo.admins}}
                        <li class="text-break">{{this}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li><strong>Users present: </strong></li>
                <li>
                    <ul>
                        {{#each classInfo.emails}}
                        <li class="text-break">{{this}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            {{#if admin}}
            <div class="text-center">
                <button type="button" class="btn btn-primary my-2 w-75 rounded" data-bs-toggle="modal"
                    data-bs-target="#makeAdmin">Change Admin Status</a></button>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary my-2 w-75 rounded" data-bs-toggle="modal"
                    data-bs-target="#removeUser">Remove User</a></button>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-danger my-2 w-75 rounded" data-bs-toggle="modal"
                    data-bs-target="#removeClass">Remove Class</a></button>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="modal fade" id="removeClass" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="removeClassLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-primary text-light d-inline-block p-2 rounded text-center w-25" id="removeClassLabel">Warning</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete? All data including the files will be permanently deleted. The class will no longer be visible to anyone</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"><a href="/removeClass/{{uid}}"
                            class="text-reset text-decoration-none">Delete</a></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="makeAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-primary text-light d-inline-block p-2 rounded" id="adminStatusLabel">Make Admin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/makeAdmin/{{uid}}" method="POST">
                        <div class="col-12">
                            <label for="makeAdmin1" class="form-label">Email :</label>
                            <input type="email" class="form-control" id="makeAdmin1" rows="2" name="email"
                                placeholder="Email who needs to be made admin"></input>
                        </div>
                        {{!-- <div class="col-12 text-muted">
                            <p style="text-align: justify;"><strong>Note: </strong>A maximum of 10 announcements can be
                                added. After 10 announcements, the 11th announcement will automatically be removed.</p>
                        </div> --}}
                        <p class="text-center">To remove a person from admin <a data-bs-toggle="modal"
                                data-bs-dismiss="modal" href="#removeAdmin">Click Here</a></p>
                        <div class="modal-footer d-flex justify-content-center mx-auto w-100">
                            <button type="submit" class="btn btn-primary w-50">Make Admin</button>
                        </div>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeAdmin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-primary text-light d-inline-block p-2 rounded" id="removeAdminLabel">Remove Admin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/removeAdmin/{{uid}}" method="POST">
                        <div class="col-12">
                            <label for="removeUser1" class="form-label">Email :</label>
                            <input type="email" class="form-control" id="removeUser1" rows="2" name="email"
                                placeholder="Email who needs to be removed from the post of admin"></input>
                        </div>
                        <p class="text-center">To make a user admin <a data-bs-toggle="modal" data-bs-dismiss="modal"
                                href="#makeAdmin">Click Here</a></p>
                        <div class="modal-footer d-flex justify-content-center mx-auto w-100">
                            <button type="submit" class="btn btn-primary w-50">Remove</button>
                        </div>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-primary text-light d-inline-block p-2 rounded" id="removeUserLabel">Remove User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/removeUser/{{uid}}" method="POST">
                        <div class="col-12">
                            <label for="removeUser1" class="form-label">Email :</label>
                            <input type="email" class="form-control" id="removeUser1" rows="2" name="email"
                                placeholder="Email of the user who needs to be removed"></input>
                        </div>
                        {{!-- <p class="text-center">To make a user admin <a data-bs-toggle="modal" data-bs-dismiss="modal"
                                href="#makeAdmin">Click Here</a></p> --}}
                        <div class="modal-footer d-flex justify-content-center mx-auto w-100">
                            <button type="submit" class="btn btn-primary w-50">Remove</button>
                        </div>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>

    <div class="modal fade" id="announcements" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-primary text-light d-inline-block p-2 rounded" id="announcementModalLabel">Add Announcement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/announce/{{uid}}" method="POST">
                        <div class="col-12">
                            <label for="makeAdmin" class="form-label">Announcement :</label>
                            <textarea class="form-control" id="makeAdmin" rows="2" name="announcement"></textarea>
                        </div>
                        <div class="col-12 text-muted">
                            <p style="text-align: justify;"><strong>Note: </strong>A maximum of 15 announcements can be
                                added. After 15 announcements, the 16th announcement will automatically be removed.</p>
                        </div>
                        <p class="text-center">To remove an announcement <a data-bs-toggle="modal"
                                data-bs-dismiss="modal" href="#remove">Click Here</a></p>
                        <div class="modal-footer d-flex justify-content-center mx-auto w-100">
                            <button type="submit" class="btn btn-primary w-50">Add</button>
                        </div>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-primary text-light d-inline-block p-2 rounded" id="addFile1mentModalLabel">Remove Announcement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/remove/{{uid}}" method="POST">
                        <div class="col-12">
                            <label for="addFile1" class="form-label">Announcement No. :</label>
                            <input type="number" class="form-control" id="addFile1" rows="2" name="announcement"
                                placeholder="For Ex. 2 -> Deletes the 2nd announcement"></input>
                        </div>
                        <p class="text-center">To add an announcement <a data-bs-toggle="modal" data-bs-dismiss="modal"
                                href="#announcements">Click Here</a></p>
                        <div class="modal-footer d-flex justify-content-center mx-auto w-100">
                            <button type="submit" class="btn btn-primary w-50">Remove</button>
                        </div>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>
    <div class="modal fade" id="addFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-primary text-light d-inline-block p-2 rounded text-center w-25" id="addFile1mentModalLabel">Add File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/file/{{uid}}" method="POST" enctype="multipart/form-data">
                        <div class="col-12">
                            <label for="addFile1" class="form-label">Enter file name to be displayed</label>
                            <input type="text" class="form-control" id="addFile1" rows="2" name="displayName"></input>
                        </div>
                        <div class="col-12">
                            {{!-- <label for="addFile2" class="form-label">Enter file name to be displayed</label> --}}
                            <input type="file" class="form-control" id="addFile2" rows="2" name="file"></input>
                        </div>
                        <div class="col-12 text-muted">
                            <ul class="list-unstyled">
                                <li><strong>Note: </strong></li>
                                <li>
                                    <ul>
                                        <li>All fields are required.</li>
                                        <li>Maximum file size permitted is 100MB.</li>
                                        <li>Preferred file extensions are .pdf, .jpg, .jpeg, .png, .mp4, .mov</li>
                                        <li>Any other file extensions apart from the ones mentioned above will be placed
                                            under Others heading.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        {{!-- <p class="text-center">To add an announcement <a data-bs-toggle="modal"
                                data-bs-dismiss="modal" href="#announcements">Click Here</a></p> --}}
                        <div class="modal-footer d-flex justify-content-center mx-auto w-100">
                            <button type="submit" class="btn btn-primary w-50">Add</button>
                        </div>
                    </form>
                </div>
                {{!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> --}}
            </div>
        </div>
    </div>

    {{>footer}}
    {{>newspace}}
</body>

<script src="/main.js"></script>

<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>



</html>